@charset "UTF-8";

body {
	margin-left:15%;
	margin-right:15%;
	margin-top:10px;
	margin-bottom:10px;
}
h1 {
	text-align:center;
}

h2 {
	
}

div.searchbar{
	border-left: 3px ridge rgb(105,135,185);
    border-bottom: 4px ridge rgb(105,135,185);
	background-color: rgb(210,210,210);
	height:32px;
}


header {

}

article {

}

section {

}

footer {

}

div.left {
	float:left;
}

div.right {
	float:right;
}

form {
	position:relative; left:24px;
}