@charset "UTF-8";

html {
	background-color: rgb(240, 240, 240);
	height: 100%;
}

body {
	/* This will center the body on the page. */
	position: absolute;
	left: 50%;
	margin-left: -401px;
	width: 800px;
	
	/* Set the body height to be at least the height of the page. */
	margin-top: 0px;
	margin-bottom: 0px;
	min-height: 100%;
	
	font-size: 100%;
	background-color: rgb(240, 240, 210);
	border-left: 1px solid black;
	border-right: 1px solid black;
}

/* The body is 802px wide including borders. */
@media only screen and (max-width: 802px) {
	body {
		/* Scale body to page width */
		position: static;
		margin: 0px;
		width: 100%;
		border: 0px;
	}
	
	textarea {
	width: 100%;
	max-width: 100%;
}
}

h1 {
	text-align:center;
	font-size: 2em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: rgb(150, 150, 210);
	border-bottom: 1px solid black;
	text-shadow: 1px 1px 2px white;
}

h2 {
	font-size: 1.5em;
	font-family: "Times New Roman", serif;
	font-weight: bold;
    border-bottom: 4px ridge rgb(105,135,185);
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 0px;
	margin-top: 20px;
	background-color: rgb(200, 200, 220);
	height:28px;
}

h3 {
	font-size: 1.1em;
	font-family: "Times New Roman", serif;
	margin-bottom: 0px;
}

h4 {
	font-size: 1.0em;
	margin-bottom: 0px;
}

a:link, a:visited {
	text-decoration: none;
	color: rgb(20, 20, 180);
}

a:hover, a:active {
	color: black;
	text-decoration: underline;
}

textarea {
	resize: none;
	overflow: auto;
	max-width: 100%;
}