@charset "UTF-8";

/* The body is 818px wide including borders and margins. */
@media only screen and (max-width: 818px), only screen and (orientation:portrait) {
	body {
		/* Scale body to page width */
		position: static;
		margin: 0px;
		width: 100%;
		border: 0px;
	}
}